/* Estilização do corpo do site */
.flexHome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 140vh;
    padding-top: 2em;
}

/* Estilização do meio do site */
.mainHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
}

/* Parte do meio do site (h1, p e integrantes) */
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    height: 100%;
}

.conteudo h1 {
    font-size: 1.4em;
}

.conteudo h2 {
    font-size: 1.3em;
}

/* Bloco que armazena todos as sections com os componentes */
.blocoIntegrantes {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Bloco que armazena 2 cartões de integrantes */
.blocoImg {
    display: flex;
    flex-direction: row;
    gap: 2em;
}