.flexHome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 200vh;
}

.blocoImg {
    display: flex;
    flex-direction: row
}

.mainHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    height: 80vh;
}

.botao {
    display: block;
    padding: 1em 3em;
    border-radius: 2em;
}