.titulo{
    text-align: center;
    padding-top: 8px;
}
 
.bloco{
    display: flex;
    flex-direction: row;
    gap: 4em;
    align-items: center;
}
 
.nav{
    width: 40vw;
    padding-bottom: 9px;
    padding-left: 3em;
}
 
.fotogrupo{
    width: 35vw;
    height: 35vh;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 9px rgb(180, 180, 180));
    background-color: #CEE741;
    padding: 10px;
}