/*Classe da section que organiza os itens dentro*/
.blocoPerfil { 
    background-color: #CEE741;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1vw;
}

/*Classe da section que organiza os textos*/
.blocoTextos {
    display: flex;
    flex-direction: column;
    background-color: #F2E5B8;
    width: 20vw;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 1vw; /* Altera só a borda direita-alta do bloco*/
    border-bottom-right-radius: 1vw; /* Altera só a borda direita-baixa do bloco*/
    gap: 1vw;
}

/* Estiliza a foto de perfil */
.fotoPerfil {
    padding: 1vw;
    width: 7vw;
    height: auto;
    background-color: #B66E3F;
    padding: 1vw;
    border-top-left-radius: 1vw; /* Altera só a borda esquerda-alta do bloco */
    border-bottom-left-radius: 1vw; /* Altera só a borda esquerda-baixa do bloco */
}

/* Altera o tamanho do h3 */
.nome {
    font-size: 1.5em;
    margin: 0;
}

/* Altera o tamanho do p */
.descricao {
    font-size: 1em;
    margin: 0;
    width: 19vw;
}

/* Estilização do botão */
button {
    padding: 0.5em;
    width: 10vw;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

button:hover {
    transition: all 1s ease;
    transform: scale(1.1);
}

/* Altera a estilização do botão, dependendo da variável seguindo */
.Seguir {
    background-color: #00a8ff;
}

.Seguindo {
    background-color: #67cb57;
}
